* text=auto

*.py text eol=lf
*.md text eol=lf
*.json text eol=lf
*.csv text eol=lf
*.txt text eol=lf
*.cff text eol=lf
*.geojson text eol=lf
*.cmd text eol=crlf

*.h5 binary
*.npz binary
*.joblib binary
*.png binary
*.ico binary
